*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Gill Sans MT';
    transition: background-color 0.3s, color 0.3s;
}

header{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    background-color: inherit;
}

#logo{
    height: 160px;
    width: 160px;
}

button{
    padding: 0.5rem 1rem;
    margin-right: 5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.light{
    background-color: #fff;
    color: #000;
}

.dark{
    background-color: #1a1a1a;
    color: #fff;
}

.dark img#logo{
    height: 60px;
    width: 60px;
}

.dark header{
    margin-top: 3rem; 
    margin-left: 3rem;
    margin-bottom: 3.1rem;
}